<h4 class="title_sb_new">
    Góc ca sĩ, diễn viên
</h4>
<div class="main_sb_new">
      @raw
          <a ng-repeat="val in banner_right" href="{{val.banner_alias}}" title="{{val.banner_name}}" target="_blank">
              <img src="/images/banner/{{val.banner_image}}" alt="{{val.banner_description}}"/>
          </a>
      @endraw    
</div>
